.container-reg {
    background-color: rgb(83, 209, 121);
    padding: 2rem;
    position: absolute;
    top: 20%;
    left: 25%;
    box-shadow: -0.2em 0.5rem 0.4em rgb(122, 158, 144);
    border-radius: 5px;
}

.img-meme {
    width: 600px;
}

@media screen and (max-width:800px) {
    .container-reg {
        left: 3%;
    }
    .img-meme {
        width: 280px;
    }
}
