.App {
  text-align: center;
}

.screen-button {
  position: absolute;
  top: 10px;
  right: 2px;
  background-color: rgb(63, 170, 95);
  width: 20%;
}
.screen-button:hover {
  color: #173518;
  box-shadow: 1px 1px #173518;
  cursor: pointer;
}

.stocks-box {
  position: absolute;
  top: 10px;
  left: 2px;
  background-color: rgb(86, 87, 86);
  width: 20%;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 1rem;
  box-shadow: -0.2em 0.5rem 0.4em rgb(122, 158, 144);
}

.small-sign {
  color: white;
  font-size: xx-small;
}

.eurousd-header {
  width: 100px;
}

@media screen and (max-width:800px) {
  .screen-button {
    padding: 10px;
    width: 30%;
  }
  .stocks-box {
    padding: 10px;
    width: 30%;
  }
  .eurousd-header {
    display: none;
  }
  .stocks-box {
    width: 45%;
  }
}


/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/