@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

h3 {
    color: black;
    font-family: 'Otomanopee One', sans-serif;
}

.container {
    background-color: rgb(83, 209, 121);
    padding: 5rem;
    position: absolute;
    top: 20%;
    left: 32%;
    box-shadow: -0.2em 0.5rem 0.4em rgb(122, 158, 144);
    border-radius: 5px;
}

@media screen and (max-width:800px) {
    .container {
        left: 5%;
    }
}
